
.navbar{
    box-shadow: #080606;
}

hr{
    width:auto;
    height:2px;
    background-color:rgb(166, 173, 35);
}

p{
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.star{
    padding:10px 0;
}
.star i{
    font-size:0.7rem;
    color:gold;
}
/* offer section*/

#offer{
    background-image: url("images/offer.jpg");
    height:70vh;
    width:100%;
    background-size:cover;
    background-position: top 60% right 0%;
    padding: 0 80px;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
}
#offer h4{
    padding-bottom:14px;
    color:azure;
}
#offer h1{
    color:bisque;
}
#offer button{
background-color:antiquewhite;
    color:rgb(52, 46, 36);
    border:0;
    border-radius: 15px;
    padding:14px 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
} 
#offer button:hover {
 transform: scale(1.2);
}

/*features*/
.fea-b{
    padding:40px 80px;
}
#features{
    display:flex;
    align-items: center;
    justify-content: space-between ;
    flex-wrap: wrap;
}

#features .feab {
    background-color: transparent;
    width:100px;
    text-align: center;
    padding: 2px 1px;
    box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.03);
    border:1px solid  #dcdad9;
    border-radius: 5px;
    margin:15px 0;
}

#features .feab:hover{
    box-shadow: 10px 10px 54px rgba(25, 24, 24, 0.1); 
}
#features .feab h6{
    display:inline-block;
    padding:9px 7px 6px 7px;
    line-height: 1;
    border-radius: 5px;
    color:black;
    background-color: rgb(238, 237, 236);

}
#features .feab img{
    width:100%;
    margin-bottom: 10px;

}


/*product details*/
.product-det{
   cursor:pointer;
   margin-bottom: 2rem;
}
.product-det img{
    transition: 0.3s all;
}
.product-det img:hover {
    opacity:0.7;
}
 .product-det a{
 text-decoration: none;
 color:black;
 background: rgb(245, 241, 238);
 transform:translateY(20px);
 opacity:0;
 transition:0.3s all;
}
.product-det:hover a{
    transform:translateY(0px);
    opacity:1;
}

/*banner*/
#banner{
    background-image:url("./images/banners.jpg");
    width:100%;
    height:60vh;
    background-size:cover;
    background-position: top 60px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner h1,h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
}

footer{
  background-color: beige;
}
footer h5 {
    color: black;
    font-weight:700;
    font-size: 1.2rem;
}
footer li{
    padding-bottom:4px;
  }
  footer li a{
    font-size: 0.8rem;
    color:black;
    text-decoration: none;
  }
  footer li a:hover{
    color:rgb(103, 78, 46);
  }
  footer p{
    color:#2a2828;
    font-size: 0.8rem;
  }
  footer .copyright a{
    color: #c57147;
    width: 40px;
    height:40px;
    background-color: azure;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin:0 5px;
  }
  footer .copyright a:hover {
color:blanchedalmond;
background-color:chocolate;
 
  }

